/*
Google Fonts Rules:
    font-family: 'Figtree', sans-serif;
    font-family: 'Playfair Display', serif;
*/
body{
    font-family: 'Figtree', sans-serif;
}
h1,p {
    font-family: 'Playfair Display', serif;
}

