/*
Google Fonts Rules:
    font-family: 'Figtree', sans-serif;
    font-family: 'Playfair Display', serif;
*/
body{
    font-family: 'Figtree', sans-serif;
}
h1,p {
    font-family: 'Playfair Display', serif;
}
img {
    border: 1px solid black;
    border-radius: 2%;
}

@media (min-width: 768px) {
    .position-md-fixed {
      position: fixed;
    }
  }